.programs-and-services-banner > div > div > p a{
    color: rgb(223, 18, 51);
    font-size: 1rem;
    font-family: open-sans;
}

.programs-and-services-banner-container {

    margin-bottom: 0% !important;
}
